<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="button" value="切换显示标签1" @click="toggleIsShow()">
        <p v-if="isShow">标签1</p>
        <p v-if="false">标签2</p>
        <p v-if="num > 30">标签3</p>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                isShow: true,
                num: 40
            },
            methods: {
                toggleIsShow: function() {
                    this.isShow = !this.isShow;
                }
            }
        })
    </script>
</body>
</html>