<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <h2>天气预报</h2>
        <input type="text" placeholder="请输入城市名" v-model="city" @keyup.enter="getWeather()">
        <input type="button" value="查询">
        <br/>
        <a href="#">北京</a>
        <a href="#">上海</a>
        <a href="#">广州</a>
        <a href="#">深圳</a>

        <div>
            <ul>
                <li v-for="item in weatherList">
                    {{}}
                </li>
            </ul>
        </div>
    </div>

    <script src="./js/main.js"></script>
</body>
</html>